<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="style sheets" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>Welcome to our Delete  Testing Page</h2>
        <div class="div">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="logdiv">
            <form action="/delete" method="post">
            <label>Enter the use name of the person you want to delete the account</label>
            <input type="text" name="name" placeholder="Username">
           <button type="submit">Delete</button>
            </form>
        </div>
    </nav>
</body>
</html>