<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="style sheets" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>Welcome to our Testing home  Page</h2>
        <div class="div">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="update">Update profile</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>